body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

button {
    padding: 8px;
    cursor: pointer;
    margin-bottom: 10px; /* Add margin to the button */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border-bottom: 1px solid black; /* Add a black line between tasks */
    padding: 8px 0;
}
